# This file is used to define routes for your application
# See https://symfony.com/doc/current/routing.html

controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute
