{% extends 'email/base.html.twig' %}

{% block title %}Password Changed{% endblock %}

{% block content %}
    <h2>Your Password Has Been Changed</h2>

    <p>Hi {{ user.username }},</p>

    <p>This is a confirmation that the password for your Todo App account was changed on {{ changedAt|date('F j, Y \\a\\t g:i A') }}.</p>

    <div class="warning">
        <strong>If you didn't make this change</strong>, please contact support immediately as your account may have been compromised.
    </div>

    <p>If you made this change, no further action is needed.</p>
{% endblock %}
